<h2>These are the foods that <%= @student.name %> entered.</h2>
<% @foods.each do |food| %>
<br>
  <ul>
    <li>
      <%=food.name%>, <%= food.ghg_amount %> lbs of carbon, Source: <a href="<%=food.source%>"><%= food.source %></a>
      <br>
      <% if current_student && @student.id == current_student.id %>
        <a href="/foods/<%=food.id %>/edit">Edit Food</a>

        <br>
        <form method="post" action="/foods/<%=food.id %>/delete">
          <input id="hidden" type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete Food">
        </form>
      <% end %>
    </li>
  </ul>
<% end %>
