<!DOCTYPE html>
<html>
  <body>
    <h2>Greenhouse Gas Emissions Per Serving of Food</h2>
    <br>
    <% if flash.has?(:message) %>
        <h2><%= flash[:message] %></h2>
    <% end %>
    <% @foods.each do |food| %>
        <ul>
          <br>
          <li><h3><%= food.name %></h3>
            <br>
            <%= food.ghg_amount %> lbs of carbon
             <br>
            Source: <a href="<%=food.source%>"><%= food.source %></a>
             <br>
            <% if food.student %>
            Added by <a href="/students/<%=food.student.id%>"><%= food.student.name %></a>
            <% end %> </li>
        </ul>
      <% end %>
  </body>
</html>

<% if false %>
<% @foods.each do |food| %>
    <ul>
      <br>
      <li><% student = food.student #%><%= food.name %>, emits <%= food.ghg_amount %> lbs of carbon, Source: <a href="<%=# food.source%>">, <%= food.source %></a>, id: <%= food.id %>, by student <%= food.student_id %> <%= student.name %></li>
    </ul>
  <% end %>
  <% end %>
